*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%; /* top and bottom: 30px, right and left: 10% */
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif; /* font size can be set using 'link' in index.html. */

    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
}

.logo {
    color: black;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-links li, a {
    color: black;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: whitesmoke;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    padding: 0px 20px;
    display: inline-block;
}

.nav-links li a:hover {
    color: rgb(15, 11, 241);
    transition: all 0.3s ease 0s;
}

.nav-links li a::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(15, 11, 241);
    transform-origin: middle middle;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.nav-links li a:hover::after {
    transform-origin: middle middle;
    transform: scale(1, 1);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1000px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 400%;
        top: 50px;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: royalblue;
    padding-left: 5%;
}

h2 span {
    background-color: rgba(170, 170, 170, 0.3);
}

p.p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: royalblue;
    padding-left: 5%;
}

p.p1 span {
    background-color: rgba(170, 170, 170, 0.3);
}

.banner-area {
    position: relative;
    background-image: url(images/banner.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-position: center center;
    -webkit-background-size: cover;
    color: black;
    font-size: 25px;
}

.banner-area a {
    font-family: 'Montserrat', sans-serif;
    background: royalblue;
    display: inline-block;
    margin-top: 15px;
    margin-left: 5%;
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

/* About area */
.section-title, .section-title-main {
    text-transform: uppercase;
    font-size: 27px;
    /* margin-top: 5%; */
    margin-bottom: 25px;
    font-weight: bold;
}

.section-title-main {
    margin-bottom: 37px;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-area h1::before {
    display: block;
    content: " ";
    /* margin-top: -75px; */
    position: relative;
    height: 60px;
    background-color: white;
    /* visibility: hidden; */
    pointer-events: none;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
}

section p span {
    display: block;
}

section ul li {
    list-style: none;
}

.about-content {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about-content .about-link {
    color: /*rgb(20, 73, 220);*/crimson;
    font-weight: bold;
}

.about-right {
    padding: 20px;
}

.about-left {
    padding: 20px;
    height: 501px;
    width: 370px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.about-left { /* figure */
    /* flex-basis: 40%; */
    background-image: url(images/1.jpg);
}

.about-right h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.about-area p {
    max-width: 690px;
    margin-bottom: 35px;
    line-height: 25px;
    text-align: justify;
    padding-left: 0;
}

.about-cv {
    padding: 12px 30px;
    /* background: rgb(20, 73, 220); */
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.about-btn {
    padding: 12px 25px;
    /* background: rgb(20, 73, 220); */
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.social {
    padding-left: 25px;
    padding-top: 30px;
    font-size: 30px;
}

.social a {
    /* color: rgb(20, 73, 220); */
    color: crimson;
}

.about-google-scholar {
    padding-right: 5px;
}

@media (max-width: 1000px) {
    .about-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .about-left {
        height: 500px;
        max-width: 730px;
        width: 100%;
    }
}

@media (max-width: 467px) {
    .about-right {
        width: 100%;
    }
}

/* Education */
.about-education, .about-positions,
.about-teaching {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

hr {
    margin-top: 5px;
    border-top: 1px solid gray;
    width: 101%;
}

.about-header h5::before {
    content: '|';
    color: crimson;
    padding-right: 10px;
}

.about-header h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 30px;
    padding-top: 18px;
    padding-right: 60px;
}

.about-header-p h5::before {
    content: '|';
    color: crimson;
    padding-right: 10px;
}

.about-header-p h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 30px;
    padding-top: 18px;
    padding-right: 65px;
}

.about-resume-main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: justify;
    padding-top: 15px;
    margin-bottom: 10px;
    max-width: 540px;
    line-height: 25px;
}

.info-t {
    padding-right: 100px; /*146*/
}

@media (max-width: 800px) {
    .about-education, .about-positions,
    .about-teaching {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    hr {
        visibility: hidden;
    }
    .info-t {
        padding-right: 20px;
    }

    .journal, .conference, .patents, .rProjects, .aServices, .servicesArea {
        width: 100%;
        flex-direction: column;
        align-items: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .area-header {
        align-self: center;
    }
    .area-header {
        padding-bottom: 15px;
    }

    .numbering p.info {
        padding-left: 0;
    }

    .each-con p.info {
        padding-left: 30px;
        margin-right: 0;
    }

    .each-con-white p.info {
        padding-left: 30px;
        margin-right: 0;
    }

    .each-con-smoke p.info {
        padding-left: 30px;
        margin-right: 0;
    }
}

.teaching::after {
    display: block;
    content: " ";
    position: relative;
    height: 30px;
    background-color: white;
    pointer-events: none;
}

/* Publications area */
.publications-area h1::before {
    display: block;
    content: " ";
    position: relative;
    height: 60px;
    background-color: whitesmoke;
    pointer-events: none;
}

.publications-area {
    background: whitesmoke;
}

.journal, .conference, .patents, .rProjects, .aServices, .servicesArea {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.area-header {
    flex-basis: 30%;
}

.area-main {
    flex-basis: 70%;
}

.area-header h5::before {
    content: '|';
    color: crimson;
    padding-right: 10px;
}

.area-header h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    padding-top: 2px;
    /* padding: 0px 30px; */
    /* padding-top: 18px; */
    /* padding-right: 60px; */
}

.numbering {
    float: left;
    width: 0;
    /* padding-top: 10px; */
}

.numbering p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    line-height: 25px;
}

.each-con, .each-con-white, .each-con-smoke {
    float: left;
    width: 100%;
    /* padding-top: 10px; */
}

.each-con p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 70px;
    padding-right: 0;
    max-width: 1200px;
    margin-right: 10%;
    margin-bottom: 10px;
    line-height: 25px;
}

.each-con-white p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 70px;
    padding-right: 0;
    max-width: 1200px;
    margin-right: 10%;
    margin-bottom: 10px;
    line-height: 25px;
}

.each-con-smoke p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 70px;
    padding-right: 0;
    max-width: 1200px;
    margin-right: 10%;
    margin-bottom: 10px;
    line-height: 25px;
}

.each-con-white::after {
    display: block;
    content: " ";
    position: relative;
    height: 35px;
    background-color: white;
    pointer-events: none;
}

.each-con-smoke::after {
    display: block;
    content: " ";
    position: relative;
    height: 35px;
    background-color: whitesmoke;
    pointer-events: none;
}

/* Projects area */
.projects-area h1::before {
    display: block;
    content: " ";
    position: relative;
    height: 60px;
    background-color: white;
    pointer-events: none;
}

/* Services area */
.services-area h1::before {
    display: block;
    content: " ";
    position: relative;
    height: 60px;
    background-color: whitesmoke;
    pointer-events: none;
}

.services-area {
    background: whitesmoke;
}

/* .publications-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    background: whitesmoke;
}

.publications-content li i {
    font-size: 50px;
    color: crimson;
    margin-bottom: 25px;
}

.publications-content li h1 {
    font-size: 20px;
    margin-bottom: 25px;
}

.publications-content li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .publications-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    .publications-content li:last-child {
        margin-bottom: 0;
    }
    .publications-content li p {
        padding: 0;
    }
} */

/* footer */
/* .footer-top {
    background: #111;
    padding: 80px 0;
}

.footer-top p {
    color: #999;
    line-height: 25px;
}

.footer-top h2, h3 {
    color: #fff;
}

.footer-top h2 {
    font-size: 18px;
}

.segment-one h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    margin: 10px 0;
}

.segment-one h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.segment-two h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}

.segment-three h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.segment-three h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-three a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i {
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.segment-four h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.segment-four h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-four form input[type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
} */

.footer-bottom-text {
    text-align: center;
    background: #111;
    color: white;
    line-height: 75px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

/* responsive css */
/* @media only screen and (min-width:768px) and (max-width: 991px) {
    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top {
        padding: 50px 0;
    }
} */