*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* *[id]:before { 
    display: block; 
    content: ""; 
    /* margin-top: -75px;
    height: 75px;
    visibility: hidden; 
} */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%; /* top and bottom: 30px, right and left: 10% */
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif; /* font size can be set using 'link' in index.html. */

    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
}

.logo {
    color: black;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-links li, a {
    color: black;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 10%;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: whitesmoke;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    padding: 0px 20px;
    display: inline-block;
}

.nav-links li a:hover {
    color: rgb(15, 11, 241);
    transition: all 0.3s ease 0s;
}

.nav-links li a::after {
    content: '';
    display: block;
    position: relative;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(15, 11, 241);
    transform-origin: middle middle;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.nav-links li a:hover::after {
    transform-origin: middle middle;
    transform: scale(1, 1);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:1000px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 400%;
        top: 50px;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: royalblue;
    padding-left: 5%;
}

h2 span {
    background-color: rgba(170, 170, 170, 0.3);
}

p.p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: royalblue;
    padding-left: 5%;
}

p.p1 span {
    background-color: rgba(170, 170, 170, 0.3);
}

.banner-area {
    position: relative;
    background-image: url(images/banner.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-position: center center;
    -webkit-background-size: cover;
    color: black;
    font-size: 25px;
}

.banner-area a {
    font-family: 'Montserrat', sans-serif;
    background: royalblue;
    display: inline-block;
    margin-top: 15px;
    margin-left: 5%;
    padding: 15px 30px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

/* About area */
.section-title {
    text-transform: uppercase;
    font-size: 40px;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-area h1::before {
    display: block;
    content: " ";
    /* margin-top: -75px; */
    position: relative;
    height: 75px;
    background-color: white;
    /* visibility: hidden; */
    pointer-events: none;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}

section ul li {
    list-style: none;
}

ul.about-content {
    width:100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content li {
    padding: 20px;
    height: 500px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.about-left {
    flex-basis: 40%;
    background-image: url(images/1.jpg);
}

.about-right {
    flex-basis: 60%;
}

.about-right h3 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}

.about-area p {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 25px;
    text-align: left;
    padding-left: 0;
}

.about-btn {
    padding: 15px 35px;
    background: crimson;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 1000px) {
    .about-left,
    .about-right {
        flex-basis: 100%;
    }
    .about-content li {
        padding: 8px;
    }
}

/* Publications area */
.publications-area h1::before {
    display: block;
    content: " ";
    position: relative;
    height: 75px;
    background-color: whitesmoke;
    pointer-events: none;
}

.publications-area {
    background: whitesmoke;
}

ul.publications-content {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.publications-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    background: whitesmoke;
}

.publications-content li i {
    font-size: 50px;
    color: crimson;
    margin-bottom: 25px;
}

.publications-content li h1 {
    font-size: 20px;
    margin-bottom: 25px;
}

.publications-content li p {
    margin: 0;
}

@media (max-width: 1000px) {
    .publications-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }
    .publications-content li:last-child {
        margin-bottom: 0;
    }
    .publications-content li p {
        padding: 0;
    }
}

/* footer */
.footer-top {
    background: #111;
    padding: 80px 0;
}

.footer-top p {
    color: #999;
    line-height: 25px;
}

.footer-top h2, h3 {
    color: #fff;
}

.footer-top h2 {
    font-size: 18px;
}

.segment-one h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    margin: 10px 0;
}

.segment-one h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.segment-two h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
}

.segment-three h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.segment-three h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-three a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i {
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.segment-four h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.segment-four h2:before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-four form input[type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bottom-text {
    text-align: center;
    background: #000;
    line-height: 75px;
}

/* responsive css */
@media only screen and (min-width:768px) and (max-width: 991px) {
    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top {
        padding: 50px 0;
    }
}